{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
        <div class="date">
            <p>publicado: {{ post.published_date }}</p>
        </div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
